@font-face {
  font-family: 'Comfortaa';
  src: url('../assets/fonts/Comfortaa-VariableFont_wght.ttf');
}
.header {
  background-color: var(--white);
  grid-row: 1 / 2;
  grid-column: 1 / -1;
  display:grid;
  /* REMEMBER THIS, magically makes divider resize at the same rate as the thing below*/
  grid-template-columns: 300px 0.9fr;
  grid-template-rows: auto 10px;
}
.logo {
  
  font-family: 'Comfortaa', sans-serif;
  grid-row-start: 1;
  grid-row-end: 3;
  background-color: var(--light-blue);
  color: var(--dark-blue);
  grid-column: 1 / 2;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 70px;
  padding: 20px;

}
.logo>.img-container {
  display: flex;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: auto;
}

/* .logo>.img-container>svg stop:nth-child(1) {
  stop-color: var(--red);
}
.logo>.img-container>svg stop:nth-child(2) {
  stop-color: var(--white);
}
.logo>.img-container>svg stop:nth-child(3) {
  stop-color: var(--light-blue);
}
.logo>.img-container>svg stop:nth-child(4) {
  stop-color: var(--red);
} */
.project-title {
  grid-row: 1 / 2;
  grid-column: 2 / 3;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding-left: 10%;
  font-size: 50px;
}
.rounded {
  position: relative;
  top: 5px;
  margin-left:10%;
  grid-row: 2/ 3;
  grid-column: 2 / 3;
  height: 0px;
  background-color: #bbb;
  border: 1px solid #bbb;
  border-radius: 100px;
  transition: all 100ms ease-in-out;
}
.rounded.animate {
  transform: scale(1.02, 1);
}