/* Side Bar */
.side-bar {
  grid-column: 1 / 2;
  background-color: var(--light-blue);
  display: flex;
  flex-direction: column;
  
}
.side-bar .active {
  background-color:  rgba(0, 0, 0, 0.2);
}
.side-bar-button {
  background: none;
}
.project-container::-webkit-scrollbar  {
  width: 10px;
}
.project-container::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 20px;
}
.project-container::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 20px;
  transition: background-color 0.5s ease-in-out;
  -webkit-transition: background-color 0.5s ease-in-out;
  -ms-transition: background-color 0.5s ease-in-out;
  -o-transition: background-color 0.5s ease-in-out;
}

/* Handle on hover */
.project-container::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}
.project-container {
  display: flex;
  flex-direction: column;
  min-height: 20px;
  max-height: 400px;
  width: 80%;
  overflow: scroll;
  overflow-x: hidden;
}
.project-container>.project:hover {
  background-color: rgba(0, 0, 0, 0.2);
}
.project-container>.project {
  display:flex;
}
.project-container>.project>.open-project {
  flex-grow: 1;
  background: none;
  border: none;
}
.project-container>.project>.delete {
  position:relative;
  background:none;
  border:none;
}