@font-face {
  font-family: 'Source Sans Pro';
  src: url('../assets/fonts/SourceSansPro-Regular.ttf');
}
body {
  --red: rgb(230, 57, 70);
  --white: rgb(241, 250, 238);
  --light-blue: rgb(168, 218, 220);
  --med-blue: rgb(69, 123, 157);
  --dark-blue: rgb(29, 53, 87);
  --green: rgb(139, 229, 127);
}
button {
  font-family: 'Source Sans Pro', sans-serif;
  background: none;
  border-radius: 10px;
  border:none;

}
form.popup {
  display: flex;
}
.add-new-container form{
  width: 100%;
  display: grid;
  gap: 20px 30px;
  padding: 10px;
  grid-template-columns: 1fr 1fr;

}
/* ADD BUTTON */
.add-new-container button[type=submit] {
  background-color: var(--green);
  border-radius: 5px;
  padding: 0px;
  font-weight: bold;
  font-size: 40px;
}
.add-new-container form input[type=text] {
  grid-column: 1/ -1;
  font-weight: 500;
  text-align: center;
  font-family: 'Source Sans Pro';
}
.add-todo-container form input[type=text] {
  height: 70px;
  font-size: 30px;
}
.add-project-container form input[type=text] {
  height: 50px;
  font-size: 20px;
}
/* CANCEL BUTTON */
.add-new-container button[type=reset] {
  background-color: var(--red);
  border-radius: 5px;
  padding: 0px;
  font-weight: bold;
  font-size: 30px;
}

input[type=checkbox] {
  border-radius: 20px;
}
button.open-popup {
  width: 100%;
  transition: all 100ms ease-in-out;
}
button.open-popup:hover {
  width: 100%;
}
body {
  margin: 0px;
  display: grid;
  grid-template-columns: 300px 1fr;
  grid-template-rows: min-content 1fr min-content;
  height: 100vh;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 700;
}


.add-new-container.inactive .popup,
.add-new-container.active .open-popup {
  display: none;
}
.add-new-container {
  border-radius: 10px;
  display: flex;
  justify-content: center;
  width: 20%;
  background-color: var(--light-blue);
  transition: all 100ms ease-in;
  box-shadow: 5px 10px;
}
.add-new-container:hover,
.add-new-container.active {
  background-color: var(--med-blue);
  transform: scale(1, 1.1);
  padding-top: 10px;
  padding-bottom: 10px;
  width: 80%;
  box-shadow: none;

}
.content {
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.footer {
background-color: var(--red);
height: 60px;
grid-column: 1 / -1;
display: flex;
justify-content: center;
align-items: center;
font-family: 'Comfortaa';
color: var(--white);
}

.add-new-container svg {
  transition: all 1s ease-out;
}
.add-new-container:hover svg {
  transform: rotate(360deg) scale(2);
}