@font-face {
  font-family: 'Source Sans Pro';
  src: url('../assets/fonts/SourceSansPro-Regular.ttf');
}
body {
  --red: rgb(230, 57, 70);
  --white: rgb(241, 250, 238);
  --light-blue: rgb(168, 218, 220);
  --med-blue: rgb(69, 123, 157);
  --dark-blue: rgb(29, 53, 87);
}
button {
  font-family: 'Source Sans Pro', sans-serif;
}
body {
  margin: 0px;
  display: grid;
  grid-template-columns: 300px 1fr;
  grid-template-rows: min-content 1fr min-content;
  height: 100vh;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 700;
}


.add-new-container.inactive .popup,
.add-new-container.active .open-popup {
  display: none;
}
.add-new-container {
  display: flex;
  justify-content: center;
}
.content {
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
.todo {
  display:flex;
  width: 80%;
  justify-content: space-between;
  border: 1px solid black;
  border-radius: 10px;
}
.footer {
background-color: red;
height: 60px;
grid-column: 1 / -1;
}
