
.todo.completed .title { 
text-decoration: line-through;
}
.todo {
  display:grid;
  grid-template-columns: 40px 1fr auto auto auto;
  width: 80%;


  align-items: center;
  border-radius: 10px;
  font-size: 30px;
  transition: all 0.2s ease-in-out;
}
.todo:hover {
  background-color: var(--med-blue);
}
.todo input[type=date] {
  font-size: 25px;
  height: 50px;
  border-radius: 10px;
  background: none;
  
}
.todo input.dueDate {
  display: flex;
  justify-content: end;
  text-align: end;
  font-size: 30px;
  font-family: 'Comfortaa';
  width: 190px;
  background: none;
  border: none;
}
.todo input.dueDate:hover {
  text-decoration: underline;
  color: var(--light-blue);
}
.todo .open-project {
  display: flex;
  flex-direction: column;
  align-items: end;
}
.todo .open-project:hover div,
.todo .open-project:hover svg {
  color: var(--light-blue);
  fill: var(--light-blue);
  text-decoration: none;
}
.todo .open-project div {
  font-size: 20px;
  color: var(--green);
  text-decoration: underline;
}

.todo .open-project svg {
  width: 30px;
  height: 30px;
}
.todo .delete svg{
  width: 50px;
  height: 40px;
}
.todo .delete:hover svg{
  fill: var(--red);
  stroke: black;
}
